.container_posts_comment
  .Profile_back_button3
    = image_tag 'Path 4.png', alt: 'profile_picture'
  .Profile_back_button4
    = image_tag 'Path 5.png', alt: 'profile_picture'
  .Profile_posts_comment
    %p Comment
