<div class= "container_posts_comment">
    <div class = "Profile_back_button3">
       <%= image_tag 'Path 4.png', alt: 'profile_picture'%>
    </div>
    <div class = "Profile_back_button4">
       <%= image_tag 'Path 5.png', alt: 'profile_picture'%>
    </div>
    <div class = "Profile_posts_comment">
       <p>Comment</p>
    </div>

</div>