.New_comments_page
  .New_comments_page_title
    %p New Comment
  .New_comments_page_space
    = form_with(model: @comment, url: post_comments_path(@comment.post), local: true) do |f|
      %div
      = f.text_area :content
      .New_comments_page_title_submit
        = f.submit 'Submit', class: 'btn-primary'
