.container
  .post_comment_list_top
    %p1= Comment
  - @comments.each do |comment|
    .post_comment_list_display  
      .post_comment_account_name
        %p2= comment.content
      .post_comment
        %p4= comment.content