.container#post-show{data: {post_id: @post.id}}
  .post_comment_list_top
    %p1= Comment
    - @comments.each do |comment|
      .comments_account_detail
        - if @post.account.present?
          %p= @post.account.display_name
        - if @post.account.present?
          %p= @post.account.accountname
        .comments-container

= javascript_pack_tag 'post'