.Profile_posts_comment p{
    position: absolute;
    height: 24px;
    left: 38.93%;
    right: 38.93%;
    top: 46px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #333A42;
}